{% include "clientCommon/header.html" %}
<div class="row" style="margin-left: 0;">
    <div class="col-xs-7 col-xs-offset-1 articleContent"></div>
    <div class="col-xs-3" style="margin-left: 50px;">
        {% include "clientCommon/rank.html" %}
    <div>
{#        右侧广告位#}
        {% include "clientCommon/rightAd.html" %}
    </div>
    </div>
</div>
</body>
<script>
    init()
    var type;
    var id;
    var articleContent;
    function init() {
        articleContent=$(".articleContent")
        var str=location.href
        id=str.split("&")[1].split("=")[1]
        type=str.split("&")[0].split("=")[1]
        addActive()
    }

function addActive() {
        li=$(".navContent li")
        var liLength=$(".navContent li").length
        for (var i=0;i<liLength;i++){
            if (i == type) {
                li.eq(i).addClass("active")
            }
    }
        ajax(id)
}
function ajax(id) {
 	  $.ajax({
			type:"get",
			dataType:"json",
			url:"http://127.0.0.1:8000/client/detailHandle/",
            data:{
                id:id
            },
			success:function(data) {
                //处理接收过来的数据
                console.log(data)
                str=""
                str+="<h4 style=‘color:"+data["headingColor"]+"’>"+data["heading"]+"</h4>"
                str+="<p style='text-indent: 32px'><span>"+data["modifydate"]+"</span><span style='padding-left:20px'>来源:本站</span></p>"
                str+="<div class='container-fluid' style='margin: 0;padding: 0'>"+data["contents"]+"</div>"
                articleContent.html(str)
            }
		});
 }




</script>
</html>