{% include 'clientCommon/head.html' %}

<div class="row" style="margin-left: 0;">
    <div class="col-xs-7 col-xs-offset-1">

        <h4>awjskjfjkafbsjjfsjfjbsdjdskjfksdjbfkjkjs</h4>
        <p style="text-indent: 32px"><span>时间</span><span>来源</span></p>
        <div class="container-fluid" style="margin: 0;padding: 0">
            akfa,jsfja,jf,jaf,kasfk

        </div>
    </div>


    <div class="col-xs-3" style="margin-left: 50px;">
        {%  include 'clientCommon/rank.html' %}
        {%  include 'clientCommon/rightAd.html' %}
    </div>



</div>





</body>
</html>