{% include "clientCommon/header.html" %}


<div class="row" style="margin: 0">
    <div class="col-xs-7 col-xs-offset-1 content"></div>
    <div class="col-xs-3" style="margin-left: 50px;">
        {% include "clientCommon/rank.html" %}
    <div>

    </div>
       <div>
            {% include "clientCommon/rightAd.html" %}
       </div>
    </div>

</div>

<nav aria-label="#" class="text-center btnContent">

</nav>
</body>
<script>
    var li;
    var type;
    init();
    function init(){
        var str=location.href;
            if (str.split("&")[1]) {
              var  index=str.split("&")[1].split("=")[1];
              type=str.split("&")[0].split("=")[1]
            }else {
                 type=str.split("=")[1]
            }
        addActive();
        if (index){
            ajax(index)
        }else {
            ajax(1)
        }

    }
function addActive() {
        li=$(".navContent li");
        var liLength=$(".navContent li").length;
    for (var i=0;i<liLength;i++){
            if (i == type) {
                li.eq(i).addClass("active")
            }
    }
}
function ajax(index) {
 	  $.ajax({
			type:"get",
			dataType:"json",
			url:"/client/typeList/",
            data:{
			    type:type,
                index:index,
                num:7
            },
			success:function(data) {
                //处理接收过来的数据
                console.log(data)
                maxPage=Math.ceil(data["allNum"]/7)
                articleContent(data["articleList"])
                btnContent(index,maxPage)
            }
		});
 }
  function articleContent(data) {
    var articleContent=""
     for (var i = 0; i < data.length; i++) {
        var str = ""
        str = "<div class='row' style='margin-bottom:5px'><div class='col-xs-12'><div class='row' style='border-bottom: 2px solid lightgray;padding-bottom: 5px'><div class='col-sm-3 text-center'>"
        str += "<img src='/static/img/clientImg/" + data[i]["thumb"] + "' alt='inimgsmall' style='width: 100%;height: 100%;margin-top: 35px'></div>"
        str += "<div class='col-sm-9 text-left'><h4 style='padding:20px 0 0 0'><a href='http://127.0.0.1:8000/client/detail/?type="+data[i]["type"] +"&id=" + data[i]["id"] + "'>" + data[i]["heading"] + "</a></h4>"
        str += " <p style='padding:0 0 10px 0'>" + data[i]["heading"] + "</p >"
        str += " <span class='post-date'>" + data[i]["date"] + "</span>"
        str += "<span class='glyphicon glyphicon-education' style='color: #5bc0de;padding-left:20px'>" + data[i]["num"] + "</span></div></div></div></div>"
        articleContent += str;
    }
    $(".content").html(articleContent)
 }
function btnContent(index,maxPage) {
    console.log(maxPage)
      str="<ul class='pagination'>"
     for (var j = 1; j < maxPage+1; j++) {
        if (j == index){
            str+="<li class='active'><a href='http://127.0.0.1:8000/client/type/?type="+type+"&index="+j+"'>"+j +"<span class='sr-only'>(current)</span></a></li>"
        } else {
          str+="  <li><a href='http://127.0.0.1:8000/client/type/?type="+type+"&index="+j+"'>"+j+"</a></li>"
        }
     }
        str+="</ul>"
         console.log(str)
     console.log(btnContent)
        $(".btnContent").html(str)

 }

</script>
</html>