{% include 'clientCommon/head.html' %}

<div class="row" style="margin: 0">
    <div class="col-xs-7 col-xs-offset-1">

        <div class="row">
                <div class="col-xs-12"><!-- .weghiet -->
                    <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                        <div class="col-sm-3 text-center">
                            <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                            <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                            <span class="post-date">Posted On July 22, 2016</span>
                            <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12"><!-- .weghiet -->
                    <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                        <div class="col-sm-3 text-center">
                            <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                            <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                            <span class="post-date">Posted On July 22, 2016</span>
                            <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12"><!-- .weghiet -->
                    <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                        <div class="col-sm-3 text-center">
                            <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                            <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                            <span class="post-date">Posted On July 22, 2016</span>
                            <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12"><!-- .weghiet -->
                    <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                        <div class="col-sm-3 text-center">
                            <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                            <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                            <span class="post-date">Posted On July 22, 2016</span>
                            <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                        </div>
                    </div>
                </div>
            </div>


             <div class="row">
                <div class="col-xs-12"><!-- .weghiet -->
                    <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                        <div class="col-sm-3 text-center">
                            <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                            <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                            <span class="post-date">Posted On July 22, 2016</span>
                            <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                    <div class="col-xs-12"><!-- .weghiet -->
                        <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                            <div class="col-sm-3 text-center">
                                <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                            </div>
                            <div class="col-sm-9 text-left">
                                <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                                <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                                <span class="post-date">Posted On July 22, 2016</span>
                                <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                            </div>
                        </div>
                    </div>
                </div>

             <div class="row">
                <div class="col-xs-12"><!-- .weghiet -->
                    <div class="row" style="border-bottom: 2px solid lightgray;padding-bottom: 5px">
                        <div class="col-sm-3 text-center">
                            <img src="/static/img/clientImg/tour1.jpg" alt="inimgsmall" style="width: 100%;height: 100%;margin-top: 35px">
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4 style="padding:20px 0 0 0"><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                            <p style="padding:0 0 10px 0">哦都是金佛山的家公司的囧傻吊港囧十多家公司对接公司递交给哦时间大概哦司机都给十多个敢死队</p >
                            <span class="post-date">Posted On July 22, 2016</span>
                            <span class="glyphicon glyphicon-education" style="color: #5bc0de">100</span>
                        </div>
                    </div>
                </div>
            </div>

    </div>


    <div class="col-xs-3" style="margin-left: 50px;">
        {%  include 'clientCommon/rank.html' %}
        {%  include 'clientCommon/rightAd.html' %}
    </div>



</div>

<nav aria-label="#" class="text-center">
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
     </ul>
</nav>



</body>
</html>