<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#title标签#}
    {% block title %}{% endblock %}
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <style type="text/css">
        .wrap{
            border: 1px solid red;
        }
        .sidebar{
            background-color: #3A3E4A;
        }
        .nav li a{
            color: white;
        }
        .unfixedPartLeftover .nav li{
            background-repeat: no-repeat;
            background-position-y: center;
            text-indent: 24px;
        }
        .unfixedPartLeftover .nav li a:hover{
            background-color: transparent;
        }
        {% block css %}{% endblock %}
    </style>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common.css">
    {#不同页面引入不同的资源#}
    {% block sources %}{% endblock %}
</head>
<body onresize="adjustment()">
    <div class="container-fluid">
        <div class="fixedPartTop">
            <nav class="header navbar navbar-inverse navbar-fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" style="font-weight: bold;color: white;">路赞后台管理系统</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        sss
                    </div>
                </div>
            </nav>
        </div>
        <div class="unfixedPartLeftover">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" style="position: fixed;">
                    <ul class="nav nav-sidebar">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">菜单管理</a></li>
                        <li><a href="#">文章管理</a></li>
                        <li><a href="#">用户管理</a></li>
                        <li><a href="#">推荐位管理</a></li>
                        <li><a href="#">推荐位内容管理</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                    {% block right %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var wrap;
    var header;
    var unfixedPartLeftover;
    var navGroup;
    var sidebar;
    function init() {
        wrap=$(".wrap");
        header=$(".header");
        sidebar=$(".unfixedPartLeftover .sidebar");
        unfixedPartLeftover=$(".unfixedPartLeftover");
        navGroup=$(".unfixedPartLeftover .nav li");
        adjustment();
        styleControl();
    }
    init();
    function  styleControl() {
        navImgUrl=["home.png","menu.png","page.png","user.png","advertisement.png","position_manage.png"]
        for (i=0;i<navImgUrl.length;i++){
            navLi=navGroup.eq(i);
            imgUrl="/static/img/serverImg/"+navImgUrl[i];
            navLi.css("background-image","url("+imgUrl+")");
        }
    }
    {#自适应相关调整#}
    function adjustment(){
        windowHeight=$(window).height();
        windowWidth=$(window).width();
        sidebar.css("height",windowHeight+"px");
        headerHeight=header.height();
        unfixedPartLeftover.css("padding-top",headerHeight)
    }

</script>
<script type="text/javascript">
    {% block js %}

    {% endblock %}
</script>

</html>