{% extends "common/commonForServer.html" %}
{% block title %}
<title>添加文章</title>
{% endblock %}
{% block css %}
    <style type="text/css">
        label{
            position: relative;
        }
        #fileinp{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
        #btn{
            padding: 5px 10px;
            background: #00b0f0;
            color: #FFF;
            border: none;
            border-radius: 5px;
        }
        #text{
            color: red;
        }
    </style>
{% endblock %}
{% block sources %}
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
{% endblock %}
{% block right %}
    <div class="container-fluid">
        <div class="row">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12 col-lg-12">
                    <p class="location"><a class="text-primary" href="/server/articleList">文章管理</a> / 添加文章</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {# form表单#}
                    <form class="form-horizontal addArticle" name="form" method="post" action="/server/saveArticle/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="heading" placeholder="请输入标题" value="{{ articleInfo.heading }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">缩略图</label>
                            <div class="col-sm-10">
                                <label for="fileinp">
                                        <input type="button" id="btn" value="点我上传">
                                    {% if articleInfo.thumb %}
                                        <span id="text">{{ articleInfo.thumb }}</span>
                                        {% else %}
                                        <span id="text">请上传图片</span>
                                    {% endif %}
                                        <input type="file" id="fileinp" name="articlethumb">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题颜色</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="headingColor" id="headingColor">
                                    <option value="#000000">选择颜色（不选则为黑色）</option>
                                    <option value="#FF0000">红色</option>
                                    <option value="#00FF00">绿色</option>
                                    <option value="#0000FF">蓝色</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属栏目</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="menuId" id="menuGroup">
                                    {% for item in menuResult %}
                                        {% if item.menuId == 1 %}
                                            <option value="{{ item.menuId }}">{{ item.menuName }}（默认项）</option>
                                            {% else %}
                                            <option value="{{ item.menuId }}">{{ item.menuName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">来源</label>
                            <div class="col-sm-10">
                                <label>
                                    <select class="form-control" name="souceId" id="sourceGroup">
                                        {% for item in sourceResult %}
                                            {% if item.sourceId == 1 %}
                                                <option value="{{ item.sourceId }}">{{ item.sourceName }}（默认项）</option>
                                                {% else %}
                                                <option value="{{ item.sourceId }}">{{ item.sourceName }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                {{ editor.media }}
                                {{ editor }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" name="adminId" value="{{ adminId }}">
                                <input type="hidden" name="articleId" value="{{ id }}">
                                {% if id %}
                                    <button type="submit" class="btn btn-primary">修改</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">添加</button>
                                {% endif %}
                                <button type="reset" class="btn btn-default">重填</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {#  提示模态框 #}
        <div class="modal fade" id="modalHint" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <center class="tips"></center>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    {% autoescape off %}
        {{ initialContent }}
    {% endautoescape %}
    </div>
{% endblock %}
<script type="text/javascript">
    {% block js %}
        var articleForm;
        {#标配模态框变量#}
        var modalPanel;
        var tips;
        var returnStatus;
        var id_content;
        var initialContent;
        function init() {
            modalPanel=$("#modalHint");
            tips=modalPanel.find(".tips");
            articleForm=$(".addArticle");
            articleForm.validate({
                rules:{
                    menuName:{
                        required:true
                    }
                },
                messages:{
                    menuName:{
                        required: "请填写菜单名"
                    }
                },
                submitHandler:function(form){
                    articleForm.ajaxSubmit(function(data){
                        returnStatus=data;
                        tips.html(returnStatus["tips"]);
                        showModal()
                    });
                }
            });
            fillContent();
            changeFileName();
        }
        init();
        {#标配模态框函数#}
        function showModal(){
            modalPanel.modal("show");
            modalPanel.on('hidden.bs.modal', function (e) {
                if(returnStatus["status"]===0){
                    location.href="/server/articleList"
                }
            })
        }
        function fillContent(){
            {#所选颜色#}
            var headingColor=$("#headingColor");
            var optionGroup=headingColor.find("option");
            var optionList=[];
            var menuGroup=$("#menuGroup").find("option");
            var menuList=[];
            var sourceGroup=$("#sourceGroup").find("option");
            var sourceList=[];
            for (var i=0;i<optionGroup.length;i++){
                optionList.push(optionGroup.eq(i).attr("value"));
            }
            selectedColorIndex=optionList.indexOf("{{ articleInfo.headingColor }}");
            if(selectedColorIndex!==-1){
                optionGroup.eq(selectedColorIndex).prop("selected",true)
            }
            {#所选栏目#}
            for (var j=0;j<menuGroup.length;j++){
                menuList.push(menuGroup.eq(j).attr("value"));
            }
            selectedMenuIndex=menuList.indexOf("{{ articleInfo.menuId }}");
            if(selectedMenuIndex!==-1){
                menuGroup.eq(selectedMenuIndex).prop("selected",true);
            }
            {#所选来源#}
            for (var a=0;a<sourceGroup.length;a++){
                sourceList.push(sourceGroup.eq(a).attr("value"));
            }
            selectedSourceIndex=sourceList.indexOf("{{ articleInfo.sourceId }}");
            if(selectedSourceIndex!==-1){
                sourceGroup.eq(selectedSourceIndex).prop("selected",true)
            }
            //判断ueditor 编辑器是否创建成功
            $(function(){
                if ("{{ id }}"){
                    id_content.addListener("ready",setInitialContent);
                }
            });
        }
        function setInitialContent(){
            $.ajax({
                type:"get",
                url:"/server/sendInitialContent/",
                data:{
                    "articleId":"{{ id }}"
                },
                dataType:"json",
                success:function (data) {
                    id_content.setContent(data)
                }
            });
        }
        function changeFileName(){
            $("#fileinp").change(function () {
                    $("#text").html($("#fileinp").val());
            })
        }
    {% endblock %}
</script>