{% extends "common/commonForServer.html" %}
{% block title %}
<title>添加管理员</title>
{% endblock %}
{% block sources %}
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
{% endblock %}
{% block right %}
    <div class="container-fluid">
        <div class="row">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12 col-lg-12">
                    <p class="location"><a class="text-primary" href="http://127.0.0.1:8000/server/adminList/">用户管理</a> / 添加管理员</p>
                </div>
            </div>
        </div>
        <div class="container"  style="margin-left: 20px;padding-left: 0">
            <div class="row" style="margin-left: 0;">
                <div class="col-md-12">
                {# form表单#}
                    <form class="form-horizontal addAdmin" method="post" action="http://127.0.0.1:8000/server/addAdminHandle/?id={{ id }}" enctype="multipart/form-data">
                       {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">用户名</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="username" placeholder="请输入用户名" style="width: 85%" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" >头像</label>
                            <div class="col-xs-5">
                              <input type="file"  name="headimg" style="height: 30px;line-height: 30px">
                            </div>
                            <div class="col-xs-3">
                                <img class="preview " style="width: 30px;height: 30px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-1 control-label">密码</label>
                            <div class="col-sm-10">
                                 <input type="password" class="form-control " id="pwd" name="pwd" placeholder="请输入密码" style="width: 85%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-1 control-label">重复密码</label>
                            <div class="col-sm-10">
                                 <input type="password" class="form-control" name="repwd" placeholder="请再次输入密码" style="width: 85%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-1 control-label">邮箱</label>
                            <div class="col-sm-10">
                                 <input type="email" class="form-control" name="email" placeholder="请输入邮箱" style="width: 85%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-1 control-label">简介</label>
                            <div class="col-sm-10" style="width: 85%">
                                {{ intro.media }}
                                {{ intro }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12" style="margin-left: 35%">
                              <button type="submit" class="btn btn-primary">添加</button>
                              <button type="reset" class="btn btn-default">重填</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
<script type="text/javascript">
    {% block js %}
        var form;
        function init() {
            var str=location.href
            showImg()
        }
        init();
        function  showImg() {
            $("input[name='headimg']").change(function(){
            var imgFile=this.files.item(0);
            var _url=window.URL.createObjectURL(imgFile);
            $(".preview").attr("src",_url);
        })
     ajax()
}
function ajax() {
    form=$(".addAdmin");
    form.validate({
        rules:{
            username:{
                required:true,
            },
            pwd:{
                required:true,
            },
            repwd:{
                required:true,
                equalTo:"#pwd"
            },
            email:{
                required:true,
            },
            headimg:{
                required:true,
            },
            content:{
                required:true,
            }
        },
        submitHandler:function(form){
            console.log("表单验证成功不提交");
            $(".addAdmin").ajaxSubmit(function(data){
                console.log("数据返回成功")
                data=JSON.parse(data)
                alert(data["tips"])
                if (data["status"] == 0){
                    location.href="http://127.0.0.1:8000/server/adminList/"
                }

            });
        }
    })
}




    {% endblock %}
</script>