{% extends "common/commonForServer.html" %}
{% block title %}
    <title>菜单管理</title>
{% endblock %}
<style type="text/css">
    {% block css %}
        .menuList table th,tr,td{
            text-align: center;
        }
        .menuList button{
            color: white;
        }
    {% endblock %}
</style>

{% block right %}
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12 col-lg-12">
                <p class="location"><a class="text-primary" href="/server/menu">菜单管理</a> / 菜单列表</p>
            </div>
        </div>
        <div class="row">
           <div class="col-md-2">
               <button type="button" class="btn btn-primary menumanagebtn"><span class="glyphicon glyphicon-plus" style="color: white"></span> 添加菜单</button>
               <hr/>
           </div>
        </div>
        <div class="row">
            <div class="col-md-12 menuList">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style="width: 5%">id</th>
                      <th>菜单名</th>
                      <th>状态</th>
                      <th style="width: 10%">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in menuList  %}
                    <tr>
                      <th scope="row">{{ item.menuId }}</th>
                      <td>{{ item.menuName }}</td>
                        {% if item.menuStatus == 0 %}
                            <td>显示</td>
                            {% else %}
                            <td>隐藏</td>
                        {% endif %}

                      <td>
                          <button class="btn btn-primary editBtn" onclick="editMenu({{ item.menuId }})"><span class="glyphicon glyphicon-edit"></span></button>
                          <button class="btn btn-danger delBtn" onclick="delMenu({{ item.menuId }})"><span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        {#  提示模态框 #}
        <div class="modal fade" id="modalHint" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <center class="tips"></center>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
<script type="text/javascript">
    {% block js %}
        var manageBtn;
        var editBtn;
        var delBtn;
        {#标配模态框变量#}
        var modalPanel;
        var tips;
        var returnStatus;
        function init() {
            modalPanel=$("#modalHint");
            tips=modalPanel.find(".tips");
            manageBtn=$(".menumanagebtn");
            manageBtn.on("click",gotoManage)

        }
        init();
        function gotoManage() {
            location.href="/server/addmenu"
        }
        function editMenu(_menuId){
            location.href="/server/addmenu/?id="+_menuId
        }
        function delMenu(_menuId){
            $.ajax({
                method:"get",
                url:"/server/delmenu",
                data:{
                    "menuId":_menuId
                },
                success:function(data){
                    {#模态框标准提示信息装填#}
                    returnStatus=data;
                    tips.html(returnStatus["tips"]);
                    showModal()
                }
            });
        }
        {#标配模态框函数#}
        function showModal(){
            modalPanel.modal("show");
            modalPanel.on('hidden.bs.modal', function (e) {
                if(returnStatus["status"]===0){
                    location.reload()
                }
            })
        }
    {% endblock %}
</script>
